<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create new account</title>
  <link rel="stylesheet" href="/css/main.min.css">
</head>
<body>
  <main class="hero is-fullheight">
    {{> navbar/index }}

    <section id="signin-container" class="container column is-one-quarter">
      <h2 class="title has-text-centered">Create new account</h2>

      <form action="/auth/register" method="post">
        <div class="field">
          <label class="label" for="fullName">Full Name</label>
          <div class="control has-icons-left">
            {{#if errors.fullName}}
            <input class="input is-danger" type="text" id="fullName" name="fullName" value={{formData.fullName}}>
            {{else}}
            <input class="input" type="text" id="fullName" name="fullName" value={{formData.fullName}}>
            {{/if}}
            <span class="icon is-small is-left">
              <i class="fa fa-user"></i>
            </span>
          </div>
          {{#if errors.fullName}}
          <p class="help is-danger">{{{errors.fullName}}}</p>
          {{/if}}
        </div>

        <div class="field">
          <label class="label" for="email">Email</label>
          <div class="control has-icons-left">
            {{#if errors.email}}
            <input class="input is-danger" type="email" id="email" name="email" value={{formData.email}}>
            {{else}}
            <input class="input" type="email" id="email" name="email" value={{formData.email}}>
            {{/if}}
            <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
          {{#if errors.email}}
          <p class="help is-danger">{{errors.email}}</p>
          {{/if}}
        </div>

        <div class="field">
          <label class="label" for="password">Password</label>
          <div class="control has-icons-left has-icons-right">
            {{#if errors.password}}
            <input class="input is-danger" type="password" id="password" name="password" value={{{formData.password}}}>
            {{else}}
            <input class="input" type="password" id="password" name="password" value={{{formData.password}}}>
            {{/if}}
            <span class="icon is-small is-left">
              <i class="fa fa-key"></i>
            </span>
            <span class="icon is-small is-right is-clickable">
              <i class="fa fa-eye"></i>
            </span>
          </div>
          {{#if errors.password}}
          <p class="help is-danger">{{errors.password}}</p>
          {{/if}}
        </div>

        <div class="field">
          <label class="label" for="repeatPassword">Confirm Password</label>
          <div class="control has-icons-left has-icons-right">
            {{#if errors.repeatPassword}}
            <input class="input is-danger" type="password" id="repeatPassword" name="repeatPassword">
            {{else}}
            <input class="input" type="password" id="repeatPassword" name="repeatPassword">
            {{/if}}
            <span class="icon is-small is-left">
              <i class="fa fa-key"></i>
            </span>
            <span class="icon is-small is-right is-clickable">
              <i class="fa fa-eye"></i>
            </span>
          </div>
          {{#if errors.repeatPassword}}
          <p class="help is-danger">{{errors.repeatPassword}}</p>
          {{/if}}
        </div>

        <div class="field">
          <div class="control">
            <button class="button is-primary is-fullwidth">
              <strong>Sign up</strong>
            </button>
          </div>
        </div>

        <div class="level">
          <div class="level-item">
            Already have an account?
            <a class="button is-ghost is-underlined" href="/signin">Login</a>
          </div>
        </div>
      </form>
    </section>

    {{> footer}}
  </main>

  <script src="/js/signup.min.js"></script>
</body>
</html>